altgraph==0.17.4
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
psutil==6.1.0
pycparser==2.22
Pygments==2.18.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pytz==2024.2
requests==2.32.3
rich==13.9.4
setuptools==75.6.0
typing_extensions==4.12.2
urllib3==2.2.3
